<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Students Information</title>
  </head>
  <body>
    <h1>Students</h1>
    {% if students %}
    <table border="2">
      <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Test Score</th>
        <th>Manage</th>
      </thead>
      {% for student in students%}
        <tr>
          <td>{{student.id}}</td>
          <td>{{student.firstName}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.testScore}}</td>
          <td><a href="/update/{{student.id}}">Update</a>
          <a href="/delete/{{student.id}}">Delete</a></td>

        </tr>
        {%endfor%}
    </table> <br>
    <td><a href="/create"> Add Student</a></td>
    {%else%}
    <p>No data is available</p>
    {%endif%}


  </body>
</html>
