<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Online Shoopping Portal</title>
    <link rel="stylesheet" href="{%static  "/css/homepage.css" %}">
  </head>
  <body>
    <h1>Welcome to our online shopping portal</h1>
    <ul>
       <li><a href="electronics/">Electronics</a></li>
       <img src="{%  static "images/image1.jpg/"%}"/>
       <li> <a href="toys/">Toys</a> </li>
      <img src="{%  static "images/image2.jpg/"%}"/>
       <li> <a href="shoes/"> Shoes</a> </li>
      <img src="{%  static "images/image3.jpg/"%}"/>

    </ul>

  </body>
</html>
