h1 {
  color: #1C6758;
  text-align: center;

}
body{
  background-color: #D6CDA4;
}


table {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 1px solid;
  border-collapse: collapse;
}


table, th, td {
  border: 1px solid;
}

th{
  color: #3D8361;
}

a{
  text-decoration: none;
  font-weight: bold;
  color:#1C6758;

}

a:hover {
  color: #7FB77E;
}
