h1{
  text-align: center;
  color: #364F6B;
}

a{
  text-decoration: none;
  color: #3FC1C9;
  font-size: 18px;
  margin-left: 200px;

}

a:hover {
  color: #FC5185;
}

body{
  background-color: #F5F5F5;
}


table {
  margin-left: 320;
}
