h1 {
  text-align: center;
  color: #14274E;
}


table {
  width: 50%;
  border-collapse: collapse;
  margin-left: 320px;

}

th{
    color: #14274E;
}

table, th, td {
  border: 1px solid;
  text-align: left;


}

body{
  background-color: #F1F6F9;
}
