<!DOCTYPE html>
<html lang="en" dir="ltr">
{%load static%}
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
    <link rel="stylesheet" href="{% static "css/home.css"%}">
  </head>
  <body>
    {%if courses%}
    <h1>All Courses</h1>
    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Instructor</th>
        <th>Rating</th>
      </thead>
      {% for course in courses%}
      <tr>
        <td>{{course.name}}</td>
        <td>{{course.description}}</td>
        <td>{{course.instructor}}</td>
        <td>{{course.rating}}</td>
        <td><a href="/update/{{course.id}}">Update</a><br>
         <a href="/delete/{{course.id}}">Delete</a></td>
      </tr>
      {%endfor%}
    </table>
    <a href="/create"> Add course</a>

    {%endif%}
  </body>
</html>
