<!DOCTYPE html>
{%extends 'courseApp/base.html'%}
{% block body_block %}
{%load static%}
{%load customFilters %}
    <h1>Course List </h1>
    {% if course_list %}
      <table border="1">
        <thead>
          <th>Id</th>
          <th> Name </th>
          <th> Description </th>
          <th>Instructor</th>
          <th>Rating</th>
        </thead>
        {%for course in course_list%}
        <tr>
          <td> <a href="/{{course.id}}">{{course.id}}</a> </td>
          <td>{{course.name | lower}}</td>
          <td>{{course.description}}</td>
          <td>{{course.instructor}}</td>
          <td>{{course.rating}}</td>
        </tr>
      {%endfor%}
      </table>
      <a href="/create"> Add a course</a>
    {%else%}
      <p>No data to display</p>
    {%endif%}


{% endblock %}
